<launch>
  <node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen" respawn="true"/>

  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(find me5413_world)/configuration_files
          -configuration_basename 5413_Task1.lua"
      output="screen">
    <remap from="scan" to="/front/scan" />
    <remap from="odom" to="/odometry/filtered" />
    <remap from="imu" to="/imu/data"/>
    <remap from="fix" to="/navsat/fix"/>
  </node>

  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
      type="cartographer_occupancy_grid_node" args="-resolution 0.05" />

  <node name="rviz" pkg="rviz" type="rviz" required="true"
      args="-d $(find me5413_world)/configuration_files/demo_2d.rviz" />
</launch>